.grid-img-row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 12px 4px;
}

/* Create two equal columns that sits next to each other */
.grid-img-column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.grid-img-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
