
* {
  font-family: "Hiragino Sans";
  font-size: 14px;
  line-height: 2.2;
}

h2 {
  margin: 0 17px 0 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

h4 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
.utensil-wrapper h4{
  font-size: 14px;
  font-weight: 700;
  margin: 15px 0 10px 0;
}
.utensil-wrapper p{
  margin: 0 0 20px 0;
}
p{
  letter-spacing: 1px;
  line-height: 150%;
}

#scroll-top-button {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 50px;
  height: 50px;
  z-index: 2000;
  cursor: pointer;
  opacity: 0.0;
}

#scroll-top-button img {
  width: 100%;
}

.container {
  padding: 0 !important;
  /*margin: 0 !important;*/
}

#sushi-carousel {
  display: block;
  width: 80%;
  margin: 30px auto 80px auto;
}

.vomit-icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 30%;
  max-width: 160px;
  transform: translate(-50%, 50%);
}

body {
  margin: 0 !important;
  background: #f8f4e6;
}

.modal-body {
  padding: 0;
}

.modal-main .close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.5em;
  color: white;
}

.modal-main img {
  width: 100%;
}
.underline{
  border-bottom: 3px solid #fbc700;
  width: 150px;
  margin-bottom: 30px;
}
.underline_1{
  border-bottom: 2px solid #fbc700;
  width: 80px;
  margin-bottom: 10px;
}

.content {
  position: relative;
  padding-top: 40px;
}

.side-img img {
  width: 100%;
}

.video-frame {
  display: block;
  margin: auto;
  max-width: 500px;
  width: 100%;
  height: 315px;
  padding: 10px 0 40px 0;
}

.max-width-content {
  max-width: 1100px;
  margin: 0 auto;
}
.right-pane {
  content: "";
  background-color: #fbc700;
  width: 30px;
  top: 0;
  right: 0;
  height: 100%;
  display: inline-block;
  position: absolute;
  z-index: 900;
}

.big-img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  padding: 10px 0 10px 0;
}
.maru {
  margin: auto;
  max-width: 15px;
  display: block;
}
.maru img{
  width: 50px;
  display: block;
  margin: auto;
}
.maru_2{
  margin: auto;
  max-width: 50px;
  display: block;
}
.maru_2{
  margin-bottom: 20px;
}

.section {
  background-color: #f8f4e6;
}

.section-padding {
  /*margin-top: 50px;*/
  padding-right: 40px;
  padding-left: 15px;
  margin: 30px 0 0 0;
}
.heading_margin{
  margin: 80px 0 20px 0;
}

.section-no-padding {
  margin-left: -15px;
  margin-right: -40px;
}

.message-banner {
  margin: 0px -20px 8px 12px;
  color: white;
  background: none;
  padding: 12px;
  position: relative;
}

.message-banner .background {
  background-color: #fbc700;
  width: 100%;
  height: 100%;

  /*margin-right: -1000px;*/
  /*display: block;*/
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
}

.message-banner p {
  z-index: 1000;
  margin: 0;
  position: relative;
  font-weight: 600;
  /*display: block;*/
}

#img-deco-message-banner .background-2 {
  display: none;
  background-color: #fbc700;
  width: 100%;
  height: 100px !important;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.dragon-roll {
  width: 50%;
  display: block;
  margin: 8px auto;
}

.sushi-police-description {
  display: none;
}

.sushi-police-button {
  margin: 10px 17px 20px 0;
  /*width: 120%;*/
  text-align: center;
}

.sushi-police-button button {
  background-color: Transparent;
  /*height: auto;*/
  /*width: 100%;*/
  margin: 0 auto;
  outline: none;
}


.sushi-police-button button img {
  width: 100%;
  height: auto;
  max-width: 320px;
}

.compare-container {
  overflow: hidden;
  background: #eadfc5;
  padding: 20px;
}
.col-section h4{
  font-size: 16px;
  font-weight: 700;
}
.vs-img {
  position: relative;
  width: 52px;
  height: 60px;
  left: calc(50% - 26px);
  margin-bottom: -30px;
  margin-top: -30px;
}

.vs-img img {
  width: 100%;
  height: 100%;
}

.col-section {
  margin: 20px 0;
}
.no-padding {
  padding: 0;
}

.compare-container.upper{

}
.compare-container.lower {
  background: #2b2b2b;
  padding: 40px 20px 20px 20px;
}
.compare-container.lower p{
  color: white;
}

.compare-container .left-img {
  float: left;
  width: 40%;
  max-width: 160px;
  display: inline-block;
  margin-right: 20px;
}

.compare-container .left-img img {
  width: 100%;
  height: auto;
}

.compare-container .right-content {
  width: 50%;
  display: inline-block;
}

.compare-container .right-content img {
  width: 80px;
  margin-bottom: 12px;
}

.arrow_down {
  margin: 30px 0;
}
.arrow_down img {
  width: 80px;
  display: block;
  margin: auto;
}
.headline img{
  max-height: 40px;
  width: 20px;
}
.headline h2{
 margin: 40px 0 30px 0;
 font-size: 20px;
}

.utensil-wrapper img {
  width: 60px;
  height: 60px;
}

.utensil {
  max-width: 800px;
  margin: 20px auto;
}

.dialog-box {
  width: 100%;
  max-width: 480px;
  margin: 20px auto;
}

.dialog-container {
  background-image: url("https://image.ibb.co/fusxKw/bg_sec4.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center top;
  background-attachment: fixed;
}

.dialog-container .row-wrapper {
  padding: 10px;
}

.dialog-box .character {
  width: 40%;
  max-width: 200px;
  display: block;
  margin: 0 auto 0 auto;
  clear: both;
}

.dialog-box .dialog {
  width: 85%;
  max-width: 400px;
  display: block;
}

.dialog-box.dialog-2 .dialog {
  float: right;
}

.instagram-section {
  padding: 0 20p;
}

.instagram-container {
  overflow: hidden;
  background: #e6e6e6;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
  padding: 20px 40px 20px 20px;
  max-width: 400px;
  margin: auto;

  box-shadow: 5px 5px;
}

.instagram-section .col-padding {
  padding: 10px;
}

.instagram-container .left-img {
  float: left;
  width: 50px;
  display: inline-block;
  margin-right: 20px;
}

.instagram-container .left-img img {
  width: 100%;
  height: auto;
}

.instagram-container .right-content {
  overflow: hidden;
}

.instagram-container .right-content img {
  margin-bottom: 12px;
  width: 100%;
}

.instagram-container .right-content a {
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
}

.center-on-md {
  text-align: left;
  margin: 25px 0 20px 0;;
}
.center-on-md span{
  font-weight: 700;
}

.bold_text{
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: 700;
}
.col-12 span{
  font-weight: 700;
}

/*.bold_text{
  font-weight: bold;
  text-align: center;
}*/
.social{
  text-align: center;
  margin: 10px 0 50px 0;
}
.social img{
  width: 60px;
  height: 60px;
  margin: 10px;
}

.mainsite{
  margin: 120px 0 0 0;
  text-align: center;
}
.mainsite img{
  width: 300px;
}
footer{
  text-align: center;
  font-weight: 700;
  background-color: #fbc700;
  padding: 10px;
  margin: 60px 0 0 0;
}

.towa-symbol {
  display: none;
  margin: 102px auto 22px auto;
  width: 200px;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */
  .compare-container {
    min-height: 260px;
  }
}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

}

@media (min-width:768px)  {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .towa-symbol {
    display: block;
  }
  .section-no-padding {
    margin-left: 0;
    margin-right: 0;
  }
  .vocab-section {
    padding: 20px 40px 20px 40px;
  }
  .center-on-md {
    text-align: center;
  }

  .message-banner p {
    text-align: center;
  }

  .sushi-police-button {
    display: none;
  }

  .sushi-police-description {
    display: block;
  }

  .col-12 span{
    text-align: center;
  }

  #img-deco-message-banner .background {
    background-color: transparent;
    display: none;
  }

  #img-deco-message-banner .background-2 {
    display: block;
  }

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/**/
/* -webkit-filter:drop-shadow(0 5px 10px #000000); */
